
/*设置头部部分开始*/
.head-header{
	position:relative;
}
.head-header .head-header_logo ul li img{
	position: absolute;
	left: 200px;
	top: 14px;
}
.head-header .head-header_logo ul .line{
	width:1px;
	height: 33px;
    background: #b1191a;
    position: absolute;
    top: 11px;
    left: 186px;
}
.head-header .head-header_logo_nav li{
	position:relative;
	float:left;
	margin-bottom:10px;
	left: -25px;
    top: 140px;
	
}
.head-header .head-header_logo_nav li a{
	font-size: 16px;
	font-weight:600;
	color:#000;	
	margin-left: 45px;
}
/*设置头部部分结束*/
images属性:object-fit